* {
    box-sizing: border-box;
}
html, body {
    background-color: #fff;
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 0;
}
a {
    color: #4183c4;
    text-decoration: none;
}
header {
    padding: 35px 0 20px;
}
.wrap {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}
