* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
    background-color: #fff;
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 0;
}
a {
    color: #4183c4;
    text-decoration: none;
}
header {
    background:#2980b9; /*#dfefef*/
	color:#ffffff;
    padding: 35px 0 20px;
}
footer {
    background:#2980b9; /*#dfefef*/
	color:#ffffff;
    padding:35px 0 120px;
}
/* Columns & Layout */
.wrap {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}
article .content-body {
    font-size: 18px;
    padding-bottom: 30px;
    width: 650px;
}
.toc-wrapper {
    float:right;
    width:200px;
}
ol.toc {
    padding: 0;
}
ol.toc > li {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}
ol.toc > li a.active {
    color: #444;
    font-weight: bold;
}
ol.toc.sticky {
    position: fixed;
    top: 20px;
}
/* Media 900px */
@media (max-width: 900px) {
  .wrap {
    max-width: auto;
  }

  article .content-body {
    width: auto;
  }
  ol.toc {
    float: none;
    width: auto;
    margin: -10px 0 20px;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  article .content-body {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  html, body {
    font-size: 15px;
  }
  .article-heading .wrap {
    padding: 30px 0;
  }
  article h1 {
    margin-left: 96px;
    font-size: 34px;
  }
  article .content-body {
    width: 100%;
  }
  .toc-wrapper {
    display: none;
  }
  footer {
    font-size: 12px;
  }
}

.content-body {
  font-size: 15px;
  line-height: 1.7;
  overflow: hidden; 
}
.content-body > *:first-child {
    margin-top: 0 !important; 
}
.content-body > *:last-child {
    margin-bottom: 0 !important;
}
.content-body p,
.content-body blockquote,
.content-body ul, .content-body ol, .content-body dl,
.content-body table,
.content-body pre {
	margin: 15px 0; 
}
